---
layout: default
---
<!-- 
	This template is to generate the list of all blog posts
-->

{%- assign _posts = site.posts | sort: 'date' | reverse -%}
{%- include header.html scrolly_nav=_posts -%}
<!-- Main -->
<div id="main">
	{%- if page.content != "" -%}
		{%- include section.html title=page.title photo=page.cover-photo photo-alt=page.cover-photo-alt auto-header=page.auto-header content=page.content -%}
	{%- endif -%}
	<!-- Posts List -->
	<h2 style="text-align: center">Archive</h2>
	<ul style="margin-left:10%">
	{%- for _post in _posts -%}
			<li>{{- _post.date | date: "%Y-%m-%d" -}}:&nbsp;<a href="{{- _post.url | absolute_url -}}">{{- _post.title -}}</a> {% if _post.blog -%}&nbsp;[<span style="text-transform: capitalize;"><a href="{{ absolute_url }}/blog-{{- _post.blog }}.html">{{- _post.blog }}</a></span>]{% endif %}</li>
	{%- endfor -%}
	</ul>
</div>